/*
!.gitignore
!composer.json
!composer.lock
!README.md
!scripts/

!/web
/web/*
!/web/test/

!/web/
/web/*
!/web/sites/

!/web/sites/
/web/sites/*
!/web/sites/all/

!/web/sites/all/
/web/sites/all/*
!/web/sites/all/modules/
!/web/sites/all/themes/

!/web/sites/all/modules/
!/web/sites/all/themes/
/web/sites/all/modules/*
/web/sites/all/themes/*
!/web/sites/all/modules/custom/
!/web/sites/all/themes/custom/
