/*
!.gitignore
!composer.json
!composer.lock
!README.md
!scripts/

!/web
/web/*
!/web/test/

!/web/
/web/*
!/web/sites/

!/web/sites/
/web/sites/*
!/web/sites/all/
/web/sites/all/*
!/web/sites/default/
/web/sites/default/*

!/web/sites/all/modules/
!/web/sites/all/themes/
!/web/sites/default/settings.example.php
!/web/sites/default/settings.php

!/web/sites/all/modules/
!/web/sites/all/themes/
/web/sites/all/modules/*
/web/sites/all/themes/*
/web/sites/all/default/*
!/web/sites/all/modules/custom/
!/web/sites/all/themes/custom/

/web/sites/all/themes/custom/bootstrap_ddbpro/node_modules/
/web/sites/all/themes/custom/bootstrap_ddbpro/npm-debug.log
/web/sites/all/themes/custom/bootstrap_ddbpro/.sass-cache/
